<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:replace="~{/layout/include:: head/link}"></div>
  <title>404 - Lỗi hệ thống</title>
</head>
<!--begin::Body-->
<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Authentication - Error 404 -->
  <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/img/progress-hd.png)">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-20">
      <!--begin::Logo-->
      <a th:href="@{/afterLogin}" class="mb-10 pt-lg-20">
        <img alt="Logo" src="/img/logo.png" class="h-100px" />
      </a>
      <!--end::Logo-->
      <!--begin::Wrapper-->
      <div class="">
        <!--begin::Logo-->
        <h1 class="fw-bolder fs-4x text-gray-700 mb-10">Lỗi hệ thống</h1>
        <!--end::Logo-->
        <!--begin::Message-->
        <div class="fw-bold fs-3 text-gray-400 mb-15">Hệ thống đã xảy ra lỗi!
          <br />Vui lòng thử lại sau</div>
        <!--end::Message-->
        <!--begin::Action-->
        <div class="text-center">
          <a th:href="@{/afterLogin}" class="btn btn-lg btn-primary fw-bolder">Quay lại trang chủ</a>
        </div>
        <!--end::Action-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <div class="d-flex flex-center flex-column-auto p-10">
      <!--begin::Links-->
      <div class="d-flex flex-center fw-bold fs-6">
        <span class="text-muted fw-bold me-1">2021©</span>
        <a href="#" target="_blank" class="text-gray-800 text-hover-primary">WFH_SP21</a>
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Authentication - Error 404-->
</div>
<div th:replace="~{/layout/include::script}"></div>
</body>

</html>